.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #dedede;
  font-weight: 600;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.progress-bar2,
.progress-bar3 {
  width: 100%;
  height: 30px;
  font-weight: 600;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.progress-bar .progress {
  width: 0;
  height: 30px;
  padding: 0;
  text-align: center;
  background-color: #4F98FF;
  color: #111;
}

.donut {
  width: calc(100% - 16px);
  padding-bottom: calc(100% - 16px);
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  text-align: center;
}

.donut::before {
  color: #fff;
  width: 70%;
  background: #264057;
  border-radius: 50%;
  position: absolute;
  left: 15%;
  top: 15%;
  display: block;
  content: attr(data-percent)'%';
  transform: skew(-0.03deg);
  margin: auto;
  font-weight: 800;
  font-size: 2vw;
  padding: calc(35% - 1.3vw) 0;
}
.donut-container {
  margin: 0 40vw 1rem 40vw;
}