
.container_outer {
    place-items: center;
    display : grid;
}
.container_core {
    display : grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 500px 500px;
}
.container_inner {
    display : grid;
    align-content: center;
    justify-content: space-around;
}
table {
    width: 400px;
    height: 400px;
}
td {
    width: 400px;
}
img {
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
}
