html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, ul, ol, li, dl, dt, dd, table, caption, tbody, tfoot, thead, tr, th, td, fieldset, form, label, legend, input, button, textarea, select {
    margin: 0;
    padding: 0;
}
body, input, textarea, select, button, table {
    font-family: "Spoqa-Regular", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", Arial, sans-serif;
    font-size: 12px;
}
body {
    position: relative;
    font-size: 0.75em;
}
div {
    display: block;
}
table {
    border : groove 2px;
    width: 400px;
    height: 400px;
}
.ssg_header_mini {
    box-shadow: 0 0 0 1px #e5e5e5;
    font-size: 10px;
}
.ssg_header_inner {
        display: flex;
        align-items: center;
        position: relative;
        width: auto;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 11px;
}
.ssg_gnb_main {
        position: relative;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 52px 0 20px;
        font-size: 12px;
}
.ssg_header_mini .ssg_gnb_main {
    padding: 12px 0;
}

li {
    display: list-item;
    margin-right : 15px;
}
ul li {
    list-style-type: none;
    float: left;
    }
a {
    text-decoration: none;
}
.ssg_gnb_util .gnb_renew_menu .gnb_menu > li > a {
    display: flex;
}
tr {
    text-align: center;
}
.main_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_outer {
        display: flex;
        flex-direction: column;
}
.form_inner {
    display: flex;
        flex-direction: column;
}