<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/progress_bar.css">
</head>
<body>

<!--        <input class="progressbar__checker" type="radio" id="zero" name="progress-value">-->
<!--        <label class="progressbar__text" for="zero">0%</label>-->
<!--        <input class="progressbar__checker" type="radio" id="twenty-five" name="progress-value">-->
<!--        <label class="progressbar__text" for="twenty-five">25%</label>-->
<!--        <input class="progressbar__checker" type="radio" id="fifty" name="progress-value" checked>-->
<!--        <label class="progressbar__text" for="fifty">50%</label>-->
<!--        <input class="progressbar__checker" type="radio" id="seventy-five" name="progress-value">-->
<!--        <label class="progressbar__text" for="seventy-five">75%</label>-->
<!--        <input class="progressbar__checker" type="radio" id="hundred" name="progress-value">-->
<!--        <label class="progressbar__text" for="hundred">100%</label>-->
<div class="wrapper">
    <div class="progressbar">

        <div class="side side__front">
            <div class="side__fill"></div>
        </div>
        <div class="side side__back">
            <div class="side__fill"></div>
        </div>
        <div class="side side__top">
            <div class="side__fill"></div>
        </div>
        <div class="side side__bottom">
            <div class="side__fill"></div>
        </div>
        <div class="side side__left"></div>
    </div>
</div>


</body>
</html>