<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<canvas id="myChart"></canvas>



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const chart = new Chart(ctx, {
    type: 'scatter',
    data: {
      datasets: [{
        label: '3D Scatter Plot',
        data: [{
          x: 5,
          y: 3,
          z: 2
        }, {
          x: 2,
          y: 3,
          z: 4
        }, {
          x: 3,
          y: 4,
          z: 5
        }]
      }]
    },
    options: {
      scales: {
        xAxes: [{
          type: 'linear',
          position: 'bottom'
        }]
      }
    }
  });
</script>
</body>
</html>